.desktop-10,
.desktop-10 * {
  box-sizing: border-box;
}
.desktop-10 {
  background: rgba(30, 40, 43, 0.81);
  height: 1200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-18 {
  width: 2025.53px;
  height: 274.94px;
  position: absolute;
  left: -105.1px;
  top: -36px;
  transform-origin: 0 0;
  transform: rotate(0.187deg) scale(1, 1);
  filter: blur(96px);
  object-fit: cover;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(39, 99, 183, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 17.299987375736237%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 532.24px;
  height: 585.46px;
  position: absolute;
  left: 438.83px;
  top: -42.47px;
  transform-origin: 0 0;
  transform: rotate(53.268deg) scale(1, 1);
  filter: blur(96px);
}
.rectangle-182 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 0.5) 6.499350816011429%,
    rgba(224, 35, 136, 0.5) 46.89826965332031%,
    rgba(39, 99, 183, 0.5) 53.4933865070343%,
    rgba(20, 52, 97, 0.26) 74.00311231613159%,
    rgba(0, 0, 0, 0.5) 96.79219126701355%
  );
  width: 2025.53px;
  height: 274.94px;
  position: absolute;
  left: -26.1px;
  top: 947px;
  transform-origin: 0 0;
  transform: rotate(0.187deg) scale(1, 1);
  filter: blur(96px);
}
.rectangle-21 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(101, 223, 201, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 95.29998898506165%
  );
  width: 1287.65px;
  height: 1074.7px;
  position: absolute;
  left: 1279.93px;
  top: -205px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.more {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-8 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.text {
  color: #ffffff;
  text-align: center;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: absolute;
  left: 501px;
  top: 2002px;
  width: 930px;
  height: 174px;
}
.rectangle-20 {
  background: rgba(50, 53, 57, 0.6);
  width: 988px;
  height: 962px;
  position: absolute;
  left: 466px;
  top: 200px;
}
._9-dcf-5-d-7-baafb-8-f-8781-ac-3-b-9951-b-3358-1 {
  width: 453px;
  height: 437px;
  position: absolute;
  left: 757px;
  top: 276px;
  object-fit: cover;
}
.rectangle-22 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 0.5) 6.499350816011429%,
    rgba(224, 35, 136, 0.5) 46.89826965332031%,
    rgba(39, 99, 183, 0.5) 53.4933865070343%,
    rgba(20, 52, 97, 0.26) 74.00311231613159%,
    rgba(0, 0, 0, 0.5) 96.79219126701355%
  );
  width: 2025.53px;
  height: 274.94px;
  position: absolute;
  left: 1995.03px;
  top: 1008.93px;
  transform-origin: 0 0;
  transform: rotate(179.682deg) scale(1, 1);
  filter: blur(96px);
}
.name-jack-peng-student-id-2022015528-email-3507938697-qq-com-interests-reading-comics-listening-to-music-playing-games {
  color: #ffffff;
  text-align: left;
  font-family: "Lalezar-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 494px;
  top: 781px;
  width: 977px;
  height: 419px;
}
